.filters-wrapper {
    display: flex;
    gap: 1.2vw;
}

.filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 22vw;
    background: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 0.9vw;
    position: relative;
    cursor: pointer;
}

.filter-arrow {
    transition: transform 0.2s;
}

.filter.active .filter-arrow,
.filter:hover .filter-arrow {
    transform: rotate(180deg);
}

.filter-dropdown {
    display: none;
    flex-direction: column;
    width: 100%;
    background: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 10;
    margin-top: -0.5vw;
    margin-left: -0.5vw;
    padding: 0.5vw 0;
    gap: 0.2vw;
}

.filter.active .filter-dropdown {
    display: flex;
}

.filter-dropdown label {
    font-size: 2vw;
    font-family: 'SuisseIntlRegular';
    padding: 0.3vw 0.7vw;
    letter-spacing: -0.08vw;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.2vw;
    color: #000;
    transition: color 0.2s;
}

.filter-dropdown label:hover input[type="checkbox"] {
    border-color: #FF4702;
    box-shadow: none;
}

.filter-dropdown label:has(input[type="checkbox"]:checked) {
    color: #FF4702;
}

.filter-dropdown input[type="checkbox"] {
    appearance: none;
    width: 1.3vw;
    height: 1.3vw;
    margin-right: 0.7vw;
    border: 2px solid #000;
    border-radius: 4px;
    background: #fff;
    position: relative;
    transition: border-color 0.2s, box-shadow 0.2s, background 0.2s;
    cursor: pointer;
    vertical-align: middle;
}

.filter-dropdown input[type="checkbox"]:checked {
    border-color: #FF4702;
    background-color: #FF4702;
}

.filter-dropdown input[type="checkbox"]:checked::after {
    content: '';
    display: block;
    width: 0.7vw;
    height: 0.7vw;
    margin: 0.2vw auto;
    background-color: #FF4702;
    border-radius: 2px;
}

.filter p {
    color: #000;
    text-decoration: none;
    letter-spacing: -0.08vw;
}

.card-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.card-tags {
    position: absolute;
    bottom: 0.9vw;
    left: 0.9vw;
    display: flex;
    flex-direction: column;
    gap: 0.9vw;
}

.card-tag {
    background: #fff;
    text-align: center;
    border-radius: 100px;
    padding: 0.5vw 0.9vw;
    width: fit-content;
    white-space: nowrap;
}

.loadmore {
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3.47vw;
}

.loadmore:hover {
    color: #FF4702;
}