p {
    font-family: 'SuisseIntlRegular';
    font-size: 2vw;
    letter-spacing: -0.08vw;
}

.heading-l {
    font-family: 'SuisseIntlBook';
    font-size: 5.55vw;
    letter-spacing: -0.2vw;
}

.heading-m {
    font-family: 'SuisseIntlRegular';
    font-size: 2.77vw;
    letter-spacing: -0.08vw;
}

.heading-xs {
    font-family: 'SuisseIntlRegular';
    font-size: 1.38vw;
    letter-spacing: -0.05vw;
}

.heading-xxs {
    font-family: 'SuisseIntlRegular';
    font-size: 1.15vw;
    letter-spacing: -0.05vw;
}