@media screen and (min-width: 744px) and (max-width: 1024px) {

    .filters-wrapper {
        gap: 1.2vw;
    }

    .filter {
        width: 22.7vw;
        border: 1px solid #000;
        border-radius: 5px;
    }

    .filter-dropdown {
        border: 1px solid #000;
        border-radius: 5px;
    }

    .filter.active .filter-dropdown {
        display: flex;
    }

    .filter-dropdown label {
        font-size: 1.9vw;
        letter-spacing: -0.05vw;
        border-radius: 5px;
    }

    .filter-dropdown input[type="checkbox"] {
        border: 1px solid #000;
        border-radius: 2px;
    }

    .filter-dropdown input[type="checkbox"]:checked::after {
        border-radius: 1px;
    }

    .filter p {
        letter-spacing: -0.05vw;
    }

    .card-background img {
        border-radius: 5px;
    }
    
    .loadmore {
        margin-bottom: 2.68vw;
    }

}

@media screen and (min-width: 0px) and (max-width: 743px) {
    .filters-wrapper {
        flex-direction: column;
        gap: 5.12vw;
    }
    
    .filter {
        width: 89.8vw;
        height: 16.6vw;
        border: 1px solid #000;
        border-radius: 10px;
        padding: 2vw;
    }
    
    .filter-dropdown {
        border: 1px solid #000;
        border-radius: 10px;
        position: absolute;
        left: 0;
        top: 100%;
        z-index: 10;
        margin: 0;
        margin-top: -1vw;
        padding: 2vw;
        gap: 1vw;
    }
    
    
    .filter-dropdown label {
        font-size: 7.69vw;
        padding: 0.5vw 1vw;
        border-radius: 10px;
        gap: 2vw;
    }
    
    .filter-dropdown input[type="checkbox"] {
        width: 4vw;
        height: 4vw;
        margin-right: 1vw;
        border: 1px solid #000;
        border-radius: 2px;
    }
    
    .filter-dropdown input[type="checkbox"]:checked {
        border-color: #FF4702;
        background-color: #FF4702;
    }
    
    .card-tags {
        bottom: 2vw;
        left: 2vw;
        gap: 2vw;
    }
    
    .card-tag {
        padding: 1.5vw 3vw;
    }
    
    .loadmore {
        cursor: pointer;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5.12vw;
    }
    
    .loadmore:hover {
        color: #FF4702;
    }
}