@media screen and (min-width: 744px) and (max-width: 1024px) {
    .footer {
        height: 15.6vw;
        width: 94.5vw;
        border: 1px solid black;
        border-radius: 5px;
        margin-bottom: 2.68vw;
    }

    .footer-image {
        height: 11.82vw;
        width: 13.3vw;
    }

    .footer-links-wrapper {
        gap: 2.68vw;
    }

    .footer-links {
        gap: 1.2vw;
    }

}

@media screen and (min-width: 0px) and (max-width: 743px) {
    .footer {
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: flex-start;
        height: 215vw;
        width: 89.8vw;
        padding: 4vw 2vw;
        background-color: white;
        border: 1px solid black;
        border-radius: 10px;
        margin-bottom: 10.5vw;
    }
    
    .footer-image {
        height: 53.8vw;
        width: 60.7vw;
    }
    
    .footer-links-wrapper {
        display: flex;
        flex-direction: column;
        gap: 3vw;
    }
    
    .footer-links {
        display: flex;
        flex-direction: column;
        gap: 3vw;
    }

}