@media screen and (min-width: 744px) and (max-width: 1024px) {
    .legals-title{
        height: 6.7vw;
        width: 46.6vw;
        border: 1px solid black;
        border-radius: 10px;
    }
    
    .legals-text{
        height: 29.3vw;
        width: 46.6vw;
        border: 1px solid black;
        border-radius: 5px;
    }
    
    .legals-margin{
        margin-bottom: 2.68vw;
    }
    
}

@media screen and (min-width: 0px) and (max-width: 743px) {
    .legals-container{
        flex-direction: column;
        gap: 5.12vw
    }
    
    .legals-title{
        height: 17.9vw;
        width: 89.8vw;
        border: 1.5px solid black;
        border-radius: 10px;
        padding: 2vw;  
    }
    
    .legals-text{
        width: 89.8vw;
        height: 115vw;
        border: 1.5px solid black;
        padding: 2vw;  
    }
    
    .legals-margin{
        margin-bottom: 5.12vw;
    }
    
    .legal-link{
        color: #FF4702;
    }
}