@media screen and (min-width: 744px) and (max-width: 1024px) {
    p {
        font-size: 1.88vw;
        letter-spacing: -0.08vw;
    }
    
    .heading-l {
        font-size: 5.64vw;
        letter-spacing: -0.2vw;
    }
    
    .heading-m {
        font-size: 2.82vw;
        letter-spacing: -0.08vw;
    }
    
    .heading-xs {
        font-size: 1.61vw;
        letter-spacing: -0.05vw;
    }
    
    .heading-xxs {
        font-family: 'SuisseIntlRegular';
        font-size: 1.61vw;
        letter-spacing: -0.05vw;
    }
}

@media screen and (min-width: 0px)  and (max-width: 743px) {
    p {
        font-size: 7.96vw;
        letter-spacing: -0.08vw;
    }
    
    .heading-l {
        font-size: 15.38vw;
        letter-spacing: -0.2vw;
    }
    
    .heading-m {
        font-size: 12.3vw;
        letter-spacing: -0.08vw;
    }
    
    .heading-xs {
        font-size: 5.12vw;
        letter-spacing: -0.05vw;
    }
    
    .heading-xxs {
        font-size: 5.12vw;
        letter-spacing: -0.05vw;
    }
}